name: Full Code

on: workflow_dispatch

jobs:
  code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Notebook Repository
        uses: actions/checkout@v3

      - name: Clone Code Repository
        uses: actions/checkout@v3
        with:
          repository: The-ATU-Robotics-Club/ATUM-V5RC-High-Stakes-Code
          ssh-key: ${{ secrets.SSH_CODE_REPO_PRIVATE_KEY }}
          path: ./tmp

      - name: Get and Place Code Files
        run: |
          rm -rf software/code/files/api/*
          rm -rf software/code/files/impl/*
          mkdir -p software/code/files/api
          mkdir -p software/code/files/impl 
          cp -r tmp/packages/atum/src/* software/code/files/api
          for robot in tmp/packages/*; do
            name=$(basename "$robot")
            if [ "$name" != "atum" ]; then
              mkdir -p "software/code/files/impl/$name"
              if [ -d "$robot/src" ]; then
                cp -r "$robot/src/"* "software/code/files/impl/$name/"
              fi
            fi
          done
          rm -rf tmp

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
  
      - name: Convert Code to LaTeX
        run: python3 .github/code-to-latex.py
  

      - name: Commit Changes
        run: |
          git config --local user.email "atumsfamily8@gmail.com"
          git config --local user.name "ATUBot"
          git add -A
          git commit -a -m "Update code."
        continue-on-error: true

      - name: Push Commit
        uses: ad-m/github-push-action@master
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true