name: Project Summary

on: 
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Notebook Repository
        uses: actions/checkout@v3

      - name: Generate Token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92
        with:
          app_id: ${{ secrets.PROJECT_READER_ID }}
          private_key: ${{ secrets.PROJECT_READER_PEM }}

      - name: Get Project Data
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          ORGANIZATION: The-ATU-Robotics-Club
          PROJECT_NUMBER: 5
        run: |
          mkdir tmp
          gh api graphql -f query='
          query($org: String!, $number: Int!){
            organization(login: $org){
              projectV2(number: $number){
                items(last: 100){ # 100 is the max possible.
                  nodes{
                    fieldValues(first: 20){
                      nodes{                
                        ... on ProjectV2ItemFieldTextValue {
                          text
                          field {
                            ... on ProjectV2FieldCommon {
                              name
                            }
                          }
                        }
                        ... on ProjectV2ItemFieldDateValue {
                          date
                          field {
                            ... on ProjectV2FieldCommon {
                              name
                            }
                          }
                        }
                        ... on ProjectV2ItemFieldSingleSelectValue {
                          name
                          field {
                            ... on ProjectV2FieldCommon {
                              name
                            }
                          }
                        }
                      }           
                    } 
                    content{
                      ...on Issue {
                        labels(first: 20) {
                          nodes{
                            name
                          }
                        }
                        assignees(first: 20) {
                          nodes{
                            login
                          }
                        }
                      }
                    } 
                  }
                }
              }
            }
          }' -f org=$ORGANIZATION -F number=$PROJECT_NUMBER > tmp/project-data.json
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Add Project Data to Notebook
        run: python .github/project-data-to-latex.py

      - name: Commit Changes
        run: |
          rm -rf tmp
          git config --local user.email "atumsfamily8@gmail.com"
          git config --local user.name "ATUBot"
          git add -A
          git commit -a -m "Update project summary."
        continue-on-error: true

      - name: Push Commit
        uses: ad-m/github-push-action@master
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true